
#gradient
{
    min-height: 100vh;
    width:100%;
    border:1px solid rgb(217, 0, 255);
    font-size:30px; 
    background: rgb(130, 2, 173);
    background: linear-gradient(90deg, rgb(56, 0, 63) 8%, rgb(100, 2, 113) 35%, rgb(103, 3, 106) 85%, rgb(92, 13, 109) 100%);
    background-size: 200% 200%; 

    -webkit-animation: Animation 10s ease infinite;
    -moz-animation: Animation 10s ease infinite;
    animation: Animation 10s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:1.0}
    50%{background-position:91% 100%}
    100%{background-position:0.0}
}
@-moz-keyframes Animation {
    0%{background-position:1.0}
    50%{background-position:91% 100%}
    100%{background-position:0.0}
}
@keyframes Animation { 
    0%{background-position:1.0}
    50%{background-position:91% 100%}
    100%{background-position:0.0}
} 
 
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
width: 100%;
min-height: 100vh;

padding: 10px;
}
.txt{
   color: #e7dede;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    font-size: 30px;
}
.todo-app{
    width: 100%;
    max-width: 700px;
    background: linear-gradient( 135deg, #230232, #60045a, #71077e, #530046, #2e0537);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.error-txt{
    color: rgb(255, 0, 0); 
    margin-left: 10px;
    display: none;
    font-size: 13px;
}
.add-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(130deg, #dbcad8, #e699d9, #d08ded);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
    color: #4c215c;
    font-size: 20px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(130deg, #3b174f, #722683, #7c3180, #4d0365, #500154);
    color: #ecebeb;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}
ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    color: #fcdff7;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 22px;
    transition: all 0.7s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(./images/unchecked-17-16.png);
    background-size: cover;
    background-position: center;
    left: 5px;
}
ul li.checked{
    text-decoration: line-through;
    color: #3f0439;
}
ul li.checked::before{
    background-image: url(./svg/check-mark-svgrepo-com.svg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 0px;
    font-size: 40px;
    color: #fcdff7;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
 background: #c344b2;
}